.footer {
  display: flex;
  flex-direction: column;
  background-color: #232f3e;
  min-width: 1000px;
  /* width: 100%; */
  margin-bottom: 0;
  padding-bottom: 45px;
  color: white;
  justify-content: center;
  /* position: absolute; */
  /* bottom: 0; */
}
.footer__top {
  margin-bottom: 40px;
  background-color: #37475a;
}
.footer__top > span {
  display: block;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  line-height: 19px;
  font-size: 13px;
}

.footer__top:hover {
  background-color: #485769;
  cursor: pointer;
}
.footer__bottom {
  display: flex;
  justify-content: center;
}
.footer__container {
  width: 250px;
  display: flex;
  flex-direction: column;
}
.footer__container ul {
  padding-left: 0;
}
.footer__container li {
  list-style-type: none;
}
.footer__container li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer__container > h3 {
  font-weight: 700;
  font-size: 16px;
  margin: 6px 0 14px 0;
  white-space: nowrap;
}
